body{
  background: #222222;
}

canvas {
  border: 1px solid #fff;
  position: relative;

}

.container {
  height: 480px;
  margin: 100px auto;
  position: relative;
  width: 854px;

}
img{
  position: absolute;
}

.hide{
  display: none;
  visibility: hidden;
}

.show{
  display: block;
  visibility: visible;
}

.cat {
  bottom: 200px;
  height: 50px;
  left: 200px;
  position: absolute;
  width: 50px;
}
